<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <center>
        <h1 style="font-style:italic"><b>Instagram</b></h1>

        <form action="" method="post">
            <table>
                <tr>
                    <td>UserName</td>
                    <td><input type="text" name="UserName" value="" />         </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="Password" value="" />         </td>
                </tr>
                <tr>
                    <td>MobileNumber</td>
                    <td><input type="text" name="MobileNumber" value="" />         </td>
                </tr>
                <tr>
                    <td>FullName</td>
                    <td><input type="text" name="FullName" value="" />         </td>
                </tr>


                <tr>
                    <td rowspan="1"><input type="submit" name="" value="Sign Up" /></td>
                </tr>

                <tr>
                    <td rowspan="1">
                        <a href="/">Back To Login</a>
                    </td>
                </tr>

            </table>

        </form>
        <div>
            @ViewBag.msg
        </div>

    </center>
</body>

</html>






